Source: seabios
Section: misc
Priority: extra
Maintainer: Debian QEMU Team <pkg-qemu-devel@lists.alioth.debian.org>
Uploaders: Christine Fornfeist <christine.fornfeist@profitbricks.com>
Build-Depends: debhelper (>= 5), python, iasl
Standards-Version: 3.9.1

Package: seabios
Architecture: all
Depends: ${misc:Depends}
Conflicts: qemu-system (<< 0.12.0)
Description: Legacy BIOS implementation
 SeaBIOS is a legacy BIOS implementation, aimed at supporting not only
 emulated hosts such as QEMU, but also real hardware.
 .
 Note, however, that SeaBIOS does not handle early initialization of core
 chipsets, so don't even think of flashing it to your board (look at
 Coreboot for that).
